body{
  background-color: black;
}
.Zay{
  width: 50%;
  margin: auto;
  margin-bottom: 0px;
}
.YOLO{
  background-color: rgb(104, 32, 133);
  width: 38%;
  height: 700px;
  margin: auto;
  padding-top: 40px;
  text-align: center;
  margin-top: 7%;
  
}
.Type{
  font-size: 60px;
  font-family: serif;
}
.Abby{
  width: 50%;
  margin: auto;
  margin-top: 0px;
}
.pain{
  width: 50%;
  margin: auto;

}