body {
  background-image: url("https://www.beautycolorcode.com/bf928f.png");
}
.Zay {
  width: 100%;
  margin: auto;
  margin-bottom: 0px;
}
.YOLO {
  background-image: url("https://66.media.tumblr.com/f64f8437a472ff6c0a6a40e6704cf82b/tumblr_pq1obmm15k1uq0wz0_540.jpg");
  width: 38%;
  height: 700px;
  margin: auto;
  padding-top: 40px;
  text-align: center;
  margin-top: 7%;
}
.Type {
  font-size: 60px;
  font-family: serif;
  color: rgb(190, 185, 185);
}
.Abby {
  width: 100%;
  margin: auto;
  margin-top: 0px;
}
.pain {
  width: 100%;
  margin: auto;
}
